.card-action {
  background-color: #219c9f;
  cursor: pointer;
}
a {
  color: #fff;
}
.price {
  font-weight: bold;
}
.center-text {
  text-align: center;
}

.card .card-image img {
  height: 200px;
  margin: auto;
}
