<footer class="page-footer">
  <div class="row">
    <div class="col l4 offset-l1">
      <h5 class="white-text">RentingIt</h5>

      <address class="grey-text text-lighten-4">
        10th floor, DLF Cybercity,<br />
        Patia, Bhubaneswar <br />
        Odisha, <br />
        India <br />
      </address>
    </div>
    <div class="col l2">
      <h5 class="white-text">Categories</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">Bikes</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Cars</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Electronics</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Appliances</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Furnitures</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Machines</a></li>
      </ul>
    </div>
    <div class="col l2">
      <h5 class="white-text">Cities</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">Delhi</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Bhubaneswar</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Kolkata</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Chennail</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Bangalore</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Hyderabad</a></li>
      </ul>
    </div>
    <div class="col l2">
      <h5 class="white-text">Social</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">WhatsApp</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
