<div class="row" style="padding-bottom: 30px">
  <h4>
    <i class="material-icons small">account_circle</i> Aditya Sahu
    <a routerLink="edit">
      <i style="padding-left: 100px" class="material-icons">edit</i>
    </a>
  </h4>
  <div style="padding-left: 40px">@username</div>
</div>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="phone" name="phone" type="text" class="validate" />
        <label for="phone">Phone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="phone" name="phone" type="text" class="validate" />
        <label for="phone">Phone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="phone" name="phone" type="text" class="validate" />
        <label for="phone">Phone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="phone" name="phone" type="text" class="validate" />
        <label for="phone">Phone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="phone" name="phone" type="text" class="validate" />
        <label for="phone">Phone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="phone" name="phone" type="text" class="validate" />
        <label for="phone">Phone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="phone" name="phone" type="text" class="validate" />
        <label for="phone">Phone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="phone" name="phone" type="text" class="validate" />
        <label for="phone">Phone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="phone" name="phone" type="text" class="validate" />
        <label for="phone">Phone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="phone" name="phone" type="text" class="validate" />
        <label for="phone">Phone</label>
      </div>
    </div>
  </form>
</div>
