<div *ngIf="!loggedIn" class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <li><a routerLink="/categories/appliances">Appliances</a></li>
    <li><a routerLink="/categories/bikes">Bikes</a></li>
    <li><a routerLink="/categories/cars">Cars</a></li>
    <li><a routerLink="/categories/electronics">Electronics</a></li>
    <li><a routerLink="/categories/furnitures">Furnitures</a></li>
    <li><a routerLink="/categories/machines">Machines</a></li>
    <li><a routerLink="/categories/all">Show all</a></li>
  </ul>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a routerLink="" class="brand-logo">RentingIt</a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="about">About</a></li>
          <li>
            <a class="dropdown-trigger" data-target="dropdown1"
              >Category<i class="material-icons right">arrow_drop_down</i></a
            >
          </li>
          <li>
            <a><i class="material-icons right">search</i></a>
          </li>
          <li>
            <a routerLink="login" class="waves-effect btn">Login/Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="loggedIn" class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <li><a routerLink="/categories/appliances">Appliances</a></li>
    <li><a routerLink="/categories/bikes">Bikes</a></li>
    <li><a routerLink="/categories/cars">Cars</a></li>
    <li><a routerLink="/categories/electronics">Electronics</a></li>
    <li><a routerLink="/categories/furnitures">Furnitures</a></li>
    <li><a routerLink="/categories/machines">Machines</a></li>
    <li><a routerLink="/categories/all">Show all</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a routerLink="/user/my-orders">My Orders</a></li>
    <li><a routerLink="/user/my-products">My Products</a></li>
    <li><a routerLink="/user/my-profile">My Profile</a></li>
    <li><a routerLink="/user/logout">Logout</a></li>
  </ul>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a routerLink="" class="brand-logo">RentingIt</a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="about">About</a></li>
          <li>
            <a class="dropdown-trigger" data-target="dropdown1"
              >Category<i class="material-icons right">arrow_drop_down</i></a
            >
          </li>
          <li>
            <a><i class="material-icons right">search</i></a>
          </li>
          <li>
            <a class="dropdown-trigger" data-target="dropdown2"
              >My Account<i class="material-icons right">arrow_drop_down</i></a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
