<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <li><a routerLink="/categories/appliances">Appliances</a></li>
    <li><a routerLink="/categories/bikes">Bikes</a></li>
    <li><a routerLink="/categories/cars">Cars</a></li>
    <li><a routerLink="/categories/electronics">Electronics</a></li>
    <li><a routerLink="/categories/furnitures">Furnitures</a></li>
    <li><a routerLink="/categories/machines">Machines</a></li>
    <li><a routerLink="/categories/all">Show all</a></li>
  </ul>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a routerLink="" class="brand-logo">RentingIt</a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="about">About</a></li>
          <li>
            <a class="dropdown-trigger" data-target="dropdown1"
              >Category<i class="material-icons right">arrow_drop_down</i></a
            >
          </li>
          <li>
            <a routerLink="login" class="waves-effect btn">Login/Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- <ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown1"
          >Dropdown<i class="material-icons right">arrow_drop_down</i></a
        >
      </li>
    </ul>
  </div>
</nav> -->
