<div class="row">
  <div class="col s6 m5">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/images/Rectangle 9.png" />
      </div>
    </div>
  </div>
  <div class="col s6 m6 offset-m1 description">
    <div class="row">
      <h4>Harley Davidson</h4>
      <div class="rating">Rating 4/5 (100)</div>
      <a
        class="waves-effect btn"
        routerLink="user/rent"
        style="text-align: center"
        >Rent now</a
      >
    </div>
    <div class="row details">
      <h6>General Details</h6>
      <hr />
      <div class="col m12">
        <div class="row">
          <div class="col m6">Product Name</div>
          <div class="col m6">Harley Davidson</div>
        </div>
        <div class="row">
          <div class="col m6">Category</div>
          <div class="col m6">Harley Davidson</div>
        </div>
        <div class="row">
          <div class="col m6">Subcategory</div>
          <div class="col m6">Harley Davidson</div>
        </div>
        <div class="row">
          <div class="col m6">Units Available</div>
          <div class="col m6">Harley Davidson</div>
        </div>
      </div>
    </div>
    <div class="row details">
      <h6>Pricing</h6>
      <hr />
      <div class="col m12">
        <div class="row">
          <div class="col m6">Rent per hour</div>
          <div class="col m6">$20</div>
        </div>
        <div class="row">
          <div class="col m6">Rent per day</div>
          <div class="col m6">$20</div>
        </div>
        <div class="row">
          <div class="col m6">Rent per week</div>
          <div class="col m6">$20</div>
        </div>
        <div class="row">
          <div class="col m6">Rent per month</div>
          <div class="col m6">$20</div>
        </div>
      </div>
    </div>

    <div class="row details">
      <div class="col m12">
        <h6>Pickup Address</h6>
        <hr />
        <div class="col m6">
          <div class="row">
            <div class="col m6">House no.</div>
            <div class="col m6">45</div>
          </div>
          <div class="row">
            <div class="col m6">Street</div>
            <div class="col m6">45</div>
          </div>
          <div class="row">
            <div class="col m6">Lane</div>
            <div class="col m6">45</div>
          </div>
          <div class="row">
            <div class="col m6">Landmark</div>
            <div class="col m6">45</div>
          </div>
          <div class="row">
            <div class="col m6">City/Town</div>
            <div class="col m6">45</div>
          </div>
          <div class="row">
            <div class="col m6">Pincode</div>
            <div class="col m6">45</div>
          </div>
        </div>
        <!--Google Map Embbed Link-->
        <div class="row details">
          <div class="col m12">
            <h6>Picuk Map</h6>
            <hr />
            <p>Map Link Emmbedd as a iframe</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
