<div class="col s6 m5">
  <div class="card">
    <div class="card-image">
      <img [src]="product_item?.imageUrl" alt="productImage" />
    </div>
  </div>
</div>
<div class="col s6 m6 offset-m1 description">
  <div class="row">
    <h4>
      {{ product_item?.actualName }}{{ " " }}{{ product_item?.productName }}
    </h4>

    <a
      *ngIf="product_item?.ownerId !== userId"
      class="waves-effect btn"
      (click)="onClickGoToPlaceOrder()"
      style="text-align: center"
      >Buy On Rent</a
    >
    <a
      *ngIf="product_item?.ownerId === userId"
      class="waves-effect btn"
      [routerLink]="['/user/my-products/rent-history', product_item?.id]"
      style="text-align: center"
      >Rent history</a
    >
  </div>
  <div class="row details">
    <h6>General Details</h6>
    <hr />
    <div class="col m12">
      <div class="row">
        <div class="col m6">Description</div>
        <div class="col m6">{{ product_item?.assetDescription }}</div>
      </div>
      <div class="row">
        <div class="col m6">Units Available</div>
        <div class="col m6">{{ product_item?.units }}</div>
      </div>
    </div>
  </div>
  <div class="row details">
    <h6>Pricing</h6>
    <hr />
    <div class="col m12">
      <div class="row">
        <div class="col m6">per hour</div>
        <div class="col m6">Rs.{{ product_item?.pricePerHour }}</div>
      </div>
      <div class="row">
        <div class="col m6">per day</div>
        <div class="col m6">Rs.{{ product_item?.pricePerDay }}</div>
      </div>
      <div class="row">
        <div class="col m6">per week</div>
        <div class="col m6">Rs.{{ product_item?.pricePerWeek }}</div>
      </div>
      <div class="row">
        <div class="col m6">per month</div>
        <div class="col m6">Rs.{{ product_item?.pricePerMonth }}</div>
      </div>
    </div>
  </div>

  <div class="row details">
    <div class="col m12">
      <h6>Pickup Address</h6>
      <hr />
      <div class="col m6">
        <address>
          House no.{{ pickup_address?.houseNo }}, {{ pickup_address?.lane }} ,
          Street no.{{ pickup_address?.streetNo }}, near
          {{ pickup_address?.landmark }} , {{ pickup_address?.city }},
          {{ pickup_address?.district }} , {{ pickup_address?.state }}, PO -
          {{ pickup_address?.pincode }}
        </address>
      </div>
    </div>
  </div>
</div>
