<div class="row"></div>
<div class="col m6">
  <img
    src="../../assets/images/Become a member and get access to wide range of products and premium services..png"
    alt="Become a member and get access to wide range of products and premium services"
    style="width: 70%"
  />
</div>
<div class="col m6">
  <form #loginForm="ngForm" (submit)="onLogin()">
    <div class="row">
      <div class="input-field col s12">
        <input
          #emailField="ngModel"
          id="email"
          type="email"
          class="validate"
          name="email"
          [(ngModel)]="loginModel.email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          [class.invalid]="emailField.invalid && emailField.touched"
          required
        />
        <label for="email">Email</label>
        <small *ngIf="emailField.invalid && emailField.touched"
          >Email should be like - abcd@xyz.com</small
        >
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input
          #passwordField="ngModel"
          id="password"
          type="password"
          class="validate"
          name="password"
          [(ngModel)]="loginModel.password"
          pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
          minlength="8"
          [class.invalid]="passwordField.invalid && passwordField.touched"
          required
        />
        <label for="password">Password</label>
        <small *ngIf="passwordField.invalid && passwordField.touched"
          >Password should be -
          <ul>
            <li>alteat 8 characters long</li>
            <li>contain atleat one alphabet( a-z, A-Z )</li>
            <li>contain atleat one digit ( 0-9 )</li>
            <li>contain atleat one special character ( @,$,!,%,*,#,?,& )</li>
          </ul>
        </small>
      </div>
    </div>

    <div class="row">
      <div class="col m12">
        <button
          class="btn waves-effect waves-light"
          type="submit"
          [disabled]="!loginForm.valid"
          type="submit"
        >
          Login
        </button>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col m12">
      <a
        class="btn waves-effect waves-light"
        style="background-color: #e45656; font-weight: bold"
      >
        Login with Google
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col m12">
      <a
        class="btn waves-effect waves-light"
        style="background-color: #3f88df; font-weight: bold"
      >
        Login with Facebook
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col m12">
      <a
        routerLink="/register"
        class="btn waves-effect waves-light"
        style="background-color: #fff; color: #19bc85; font-weight: bold"
      >
        Create Account
      </a>
    </div>
  </div>
</div>
<div class="row"></div>
