<div class="row"></div>
<div class="col m6">
  <img
    src="../../assets/images/Become a member and get access to wide range of products and premium services..png"
    alt="Become a member and get access to wide range of products and premium services"
    style="width: 70%"
  />
</div>
<div class="col m6">
  <form>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" />
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" />
        <label for="password">Password</label>
      </div>
    </div>

    <div class="row">
      <div class="col m12">
        <a
          class="btn waves-effect waves-light"
          type="submit"
          routerLink="/user"
        >
          Login
        </a>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col m12">
      <a
        class="btn waves-effect waves-light"
        style="background-color: #e45656; font-weight: bold"
        routerLink="/user"
      >
        Login with Google
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col m12">
      <a
        class="btn waves-effect waves-light"
        style="background-color: #3f88df; font-weight: bold"
        routerLink="/user"
      >
        Login with Facebook
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col m12">
      <a
        routerLink="/register"
        class="btn waves-effect waves-light"
        style="background-color: #fff; color: #19bc85; font-weight: bold"
      >
        Create Account
      </a>
    </div>
  </div>
</div>
<div class="row"></div>
