<div class="row"></div>
<div class="col m6">
  <img
    src="../../assets/images/Become a member and get access to wide range of products and premium services..png"
    alt="Become a member and get access to wide range of products and premium services"
    style="width: 70%"
  />
</div>
<div class="col m6">
  <form (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      <div class="input-field col s12">
        <input
          [(ngModel)]="credentials.username"
          required
          id="username"
          type="text"
          name="username"
          class="validate"
        />
        <label for="username">UserName</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input
          #x
          [(ngModel)]="credentials.password"
          required
          id="password"
          name="password"
          type="password"
          class="validate"
          password
        />
        <a (click)="x.type = x.type == 'password' ? 'text' : 'password'"
          >Show Password</a
        >
        <label for="password">Password</label>
      </div>
    </div>

    <div class="row">
      <div class="col m12">
        <button
          class="btn waves-effect waves-light"
          type="submit"
          name="action"
        >
          Login
        </button>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col m12">
      <button
        class="btn waves-effect waves-light"
        type="submit"
        name="action"
        style="background-color: #e45656; font-weight: bold"
      >
        Login with Google
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col m12">
      <button
        class="btn waves-effect waves-light"
        type="submit"
        name="action"
        style="background-color: #3f88df; font-weight: bold"
      >
        Login with Facebook
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col m12">
      <a
        routerLink="/register"
        class="btn waves-effect waves-light"
        style="background-color: #fff; color: #19bc85; font-weight: bold"
      >
        Create Account
      </a>
    </div>
  </div>
</div>
<br />
