<h6><b>My Orders</b></h6>
<!--app-order-item></app-order-item-->


<div class="row" *ngFor="let item of orderedProducts">
    <div class="col s5 m2">
      <div class="card">
        <div class="card-image">
          <a routerLink="product/product-details">
            <img src="../../assets/images/bike-image.png" />
          </a>
        </div>
      </div>
    </div>
    <div class="col s7 m10">

      <p>
        Rent Starting Date :: {{ item.rentStartDate }} <br />
        Rent Ending Date :: {{ item.rentEndDate }} <br />
        Rent Mode :: {{ item.rentMode}}<br/>
        Units :: {{ item.units }}<br/>
        Total Amount :: {{ item.totalAmount}}
      </p>
  
      <!--a routerLink="product/edit" class="waves-effect waves-light btn">Edit</a-->
      <a (click)="sendDetails(item)" class="waves-effect waves-light btn">View Details</a>
      <!--a routerLink="product/remove" class="waves-effect waves-light btn"
        >Remove</a-->
    </div>
  </div>
  <hr />
