<h6><b>My Orders</b></h6>

<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

<div class="row" *ngFor="let item of orderedProducts">
  <div class="col s5 m2">
    <div class="card">
      <div class="card-image">
        <a routerLink="product/product-details">
          <img src="../../assets/images/bike-image.png" />
        </a>
      </div>
    </div>
  </div>
  <div class="col s7 m10">
    <p>
      Rent Starting Date :: {{ item.start_datetime | date }} <br />
      Rent Ending Date :: {{ item.start_datetime | date }} <br />
      Rent Mode :: {{ item.rent_mode }}<br />
      Units :: {{ item.units }}<br />
      Total Amount :: {{ item.total_amount }}
    </p>

    <a (click)="sendDetails(item)" class="waves-effect waves-light btn"
      >View Details</a
    >
  </div>
</div>

<hr />
<div class="col s12 m12 center-text" *ngIf="orderedProducts.length == 0">
  <div class="row">
    <h5>No orders available.</h5>
  </div>
</div>
