<div class="row" style="padding-bottom: 30px">
  <h4>
    <i class="material-icons small">account_circle</i> Aditya Sahu
    <a routerLink="edit">
      <i style="padding-left: 100px" class="material-icons">edit</i>
    </a>
  </h4>
  <div style="padding-left: 40px">@username</div>
</div>
<div class="row">
  <div class="col"><i class="material-icons">call</i></div>
  <div class="col m2">Phone</div>
  <div class="col m3">9493945954</div>
</div>
<div class="row">
  <div class="col"><i class="material-icons">email</i></div>
  <div class="col m2">Email</div>
  <div class="col m3">9493945954</div>
</div>
<div class="row">
  <div class="col"><i class="material-icons">house</i></div>
  <div class="col m2">House no.</div>
  <div class="col m3">9493945954</div>
</div>
<div class="row">
  <div class="col"><i class="material-icons">call</i></div>
  <div class="col m2">Street</div>
  <div class="col m3">9493945954</div>
</div>
<div class="row">
  <div class="col"><i class="material-icons">call</i></div>
  <div class="col m2">Lane</div>
  <div class="col m3">9493945954</div>
</div>
<div class="row">
  <div class="col"><i class="material-icons">flag</i></div>
  <div class="col m2">Landmark</div>
  <div class="col m3">9493945954</div>
</div>
<div class="row">
  <div class="col"><i class="material-icons">location_city </i></div>
  <div class="col m2">City</div>
  <div class="col m3">9493945954</div>
</div>
<div class="row">
  <div class="col"><i class="material-icons">call</i></div>
  <div class="col m2">State</div>
  <div class="col m3">9493945954</div>
</div>
<div class="row">
  <div class="col"><i class="material-icons">call</i></div>
  <div class="col m2">Pincode</div>
  <div class="col m3">9493945954</div>
</div>
<div class="row">
  <div class="col"><i class="material-icons">call</i></div>
  <div class="col m2">ID proof type</div>
  <div class="col m3">9493945954</div>
</div>
<div class="row">
  <div class="col"><i class="material-icons">call</i></div>
  <div class="col m2">ID number</div>
  <div class="col m3">9493945954</div>
</div>
