<div class="row">
  <div class="col m12">
    <h6><b> Rent Now </b></h6>
  </div>
</div>
<div class="row">
  <div class="col s6 m8">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/images/Rectangle 9.png" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6 m8 description">
    <div class="row">
      <div class="col m6">
        <h5>Harley Davidson</h5>
        <div class="rating">Rating 4/5 (100)</div>
      </div>
      <div class="col m5 offset-m1">
        <a
          class="waves-effect btn"
          routerLink="/user/place-order"
          style="text-align: center"
          >Add to cart</a
        >
      </div>
    </div>
  </div>
</div>
<div class="row">
  <form class="col s12 m6" (submit)="onSubmit()" #rentForm="ngForm">
    {{ newOrder | json }}
    <div class="row">
      <h6><b>Rent Details</b></h6>
      <hr />
    </div>
    <div class="row">
      <div class="col s12 m12">
        <div class="row">
          <div class="col m6">Product Name</div>
          <div class="col m6">Harley Davidson</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <label>Rent mode</label>

        <select
          class="browser-default"
          id="rent_mode"
          [(ngModel)]="newOrder.rent_mode"
          name="rent_mode"
        >
          <option value="" disabled selected>Choose rent mode</option>
          <option value="per hour">per hour</option>
          <option value="per day">per day</option>
          <option value="per week">per week</option>
          <option value="per month">per month</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <label>Units</label>
        <select
          class="browser-default"
          id="rent_mode"
          [(ngModel)]="newOrder.units"
          name="units"
        >
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <label for="start">Start Datetime</label>
        <div class="row input-field">
          <div class="col m12">
            <input
              id="start"
              type="datetime-local"
              class="datepicker"
              [(ngModel)]="newOrder.start_datetime"
              name="start"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <label for="end">End Datetime</label>
        <div class="row input-field">
          <div class="col m12">
            <input
              id="end"
              type="datetime-local"
              class="datepicker"
              [(ngModel)]="newOrder.end_datetime"
              name="end"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m12">
        <p>
          <label>
            <input
              type="checkbox"
              class="filled-in"
              checked="checked"
              [(ngModel)]="newOrder.terms_and_conditions"
              name="terms_and_conditions"
            />

            <span>I have read the terms and conditions and I agree to it.</span>
          </label>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col m6 offset-m3">
        <button
          class="waves-effect btn"
          style="text-align: center"
          type="submit"
        >
          Place Order
        </button>
      </div>
    </div>
  </form>
  <div class="col m3 offset-m2">
    <div class="row">
      <h6><b>Pricing</b></h6>
      <hr />
    </div>
    <div class="row">
      <h6><b>Pickup address</b></h6>
      <hr />
    </div>
  </div>
</div>
