<div class="home-content">
  <div class="row">
    <div class="col m6">
      <img
        src="../../assets/images/Why buy, when you can rent_.png"
        alt="Why buy, when you can rent"
        style="width: 250px; margin-top: 50px"
      />
    </div>
    <div class="col m6">
      <img
        src="../../assets/images/emojione_handshake-medium-light-skin-tone.png"
        alt="handshake"
        style="width: 400px"
      />
    </div>
    <div class="row">
      <div class="col m12">
        <img
          src="../../assets/images/Group 40.png"
          alt="features"
          style="width: 900px; margin-top: 50px"
        />
      </div>
    </div>
  </div>
</div>
